<% settings = @badge_config.settings || {} %>
<img src='<%= settings['badge_url'] %>' style='float: left; margin-right: 20px;' class='thumbnail'/>
<h2><%= settings['badge_name'] || "Unnamed Badge" %></h2>
<p class='desc'><%= settings['badge_description'] %></p>

<% if @current_badge %>
  <% if @user_config && @user_config.image %>
    <img src="<%= @user_config.image %>" class="avatar"/>
    <h2><a href="<%= @user_config.profile_url %>"><%= @current_badge.user_name %></a></h2>
  <% else %>
    <h2><%= @current_badge.user_name %></h2>
  <% end %>
  <% if @earned %>
    <p><img src='/check.gif'/> This user has completed the requirements necessary to receive this badge<% if @current_badge.issued %>, and it was awarded <%= @current_badge.issued.strftime("%d %b, %Y") %><% end %>.</p>
  <% else %>
    <p><img src='/redx.gif'/> This user has not completed the requirements necessary to receive this badge.</p>
  <% end %>
<% end %>

<% if settings['badge_requirements'] && settings['badge_requirements'] != '' %>
  <h3>Requirements for completion:</h3>
  <p class='desc'>
    <%= settings['badge_requirements'] %>
  </p>
<% end %>
<% if settings['hours'] %>
  <h3>Approximate hours for completion: <%= settings['hours'] %></h3>
<% end %>
<% org = @badge_config.organization %>
<% settings = (org && org.settings) || BadgeHelper.issuer %>
<p class="verification">
  <img src='<%= settings['image'] %>'/>
  This badge was issued by <a href="<%= settings['url'] %>">
  <%= settings['name'] %></a>. It is hosted at 
  <%= (org && org.host) || request.host %>.
  <span style="clear: left;"></span>
</p>

<div style='clear: left; padding-bottom: 10px;'></div>
