<% settings = @badge_config.settings || {} %>
<img src='<%= settings['badge_url'] %>' style='float: left; margin-right: 20px;' class='thumbnail'/>
<h2><%= settings['badge_name'] || "Unnamed Badge" %></h2>
<p class='desc'><%= settings['badge_description'] %></p>
<% if settings['badge_requirements'] && settings['badge_requirements'] != '' %>
  <h3>Requirements for completion:</h3>
  <p class='desc'>
    <%= settings['badge_requirements'] %>
  </p>
<% end %>
<% if settings['hours'] %>
  <h3>Approximate hours for completion: <%= settings['hours'] %></h3>
<% end %>
<% org = @badge_config.organization %>
<% settings = (org && org.settings) || BadgeHelper.issuer %>
<p class="verification">
  <img src='<%= settings['image'] %>'/>
  This badge was created at 
  <%= (org && org.host) || request.host %>. It is associated with 
  <a href="<%= settings['url'] %>">
  <%= settings['name'] %></a>.
  <span style="clear: left;"></span>
</p>

<div style='clear: left; padding-bottom: 10px;'></div>
