<%= erb :_badge_description %>
<% settings = @course_config.settings_hash %>
<% if @student %>
  <% if @badge && @badge.awarded? %>
    <h3>You've earned this badge!</h3>
    <% if !@badge.manual_approval %>
      <% if @course_config.modules_required? %>
        To earn this badge you needed <%= settings['min_percent'] %>%, and to complete the required modules. You have <%= @student['computed_final_score'].to_f %>% in this course right now and have completed the required modules.
        <div class='progress progress-success progress-striped progress-big'><div class='bar' style='width: <%= @student['computed_final_score'].to_i.to_s %>%;'></div></div>
      <% else %>
        To earn this badge you needed <%= settings['min_percent'] %>%, and you have <%= @student['computed_final_score'].to_f %>% in this course right now.
        <div class='progress progress-success progress-striped progress-big'><div class='tick' style='left: <%= (3 * settings['min_percent']).to_i.to_s %>px;'></div><div class='bar' style='width: <%= @student['computed_final_score'].to_i.to_s %>%;'></div></div>
      <% end %>
    <% end %>
    <% url = "#{BadgeHelpers.protocol}://#{request.host_with_port}/badges/data/#{params['course_id']}/#{params['user_id']}/#{@badge.nonce}.json" %>
    <form class='form-inline' action='/badges/<%= @badge.nonce %>'><label><input class='public_badge' <%= 'checked' if @badge.public %> type='checkbox'/> Let others see this badge</label><br/>
      <a class='btn btn-primary btn-large' href='/badges/all/<%= params['domain_id'] %>/<%= session['user_id'] %>'>See All Your Badges</a>
      &nbsp;<a class='btn' style='background: #4a4842;' id='redeem' href='#' rel='<%= url %>'><span class='icon-plus icon-white'></span><img src='/mozilla-backpack.png' alt='Add this badge to your Mozilla backpack'/></a>
    </form>
  <% elsif @badge && @badge.pending? %>
    <h3>You've almost earned this badge!</h3>
    <% if !@badge.manual_approval %>
      <% if @course_config.modules_required? %>
        To earn this badge you needed <%= settings['min_percent'] %>%, and to complete the required modules. You have <%= @student['computed_final_score'].to_f %>% in this course right now and have completed the required modules.
        <div class='progress progress-warning progress-striped progress-big'><div class='bar' style='width: <%= @student['computed_final_score'].to_i.to_s %>%;'></div></div>
      <% else %>
        To earn this badge you needed <%= settings['min_percent'] %>%, and you have <%= @student['computed_final_score'].to_f %>% in this course right now.
        <div class='progress progress-warning progress-striped progress-big'><div class='tick' style='left: <%= (3 * settings['min_percent']).to_i.to_s %>px;'></div><div class='bar' style='width: <%= @student['computed_final_score'].to_i.to_s %>%;'></div></div>
      <% end %>
    <% end %>
    <p><b>All you need now is to wait for your instructor's manual approval.</b></p>
  <% else %>
    <h3>You haven't earn this badge yet</h3>
    <% if @course_config.modules_required? %>
      To earn this badge you need to achieve the following:
      <% completed_score = @course_config.required_score_met?(@student['computed_final_score']) %>
      <% total = @course_config.required_modules.length + 1 %>
      <% achieved = completed_score ? 1 : 0 %>
      <ul style='list-style-type: none;'><li><img src='<%= completed_score ? '/check.gif' : '/redx.png' %>'/> Total score of at least <%= settings['min_percent'] %>% (currently <%= @student['computed_final_score'].to_f %>%)</li>
      <% @course_config.required_modules.each do |id, name| %>
        <% complete = @completed_module_ids.include?(id.to_i) %>
        <% achieved +=1 if complete %>
        <li><img src='<%= complete ? '/check.gif' : '/redx.png' %>'/> Complete the module <%= name %> (<%= complete ? 'completed' : 'not completed' %>)</li>
      <% end %>
      </ul>
      <div class='progress progress-danger progress-striped progress-big'><div class='bar' style='width: <%= [(100.0 * achieved.to_f / total.to_f).to_i, 1].max.to_s  %>%;'></div></div>
    <% else %>
      To earn this badge you need <%= settings['min_percent'] %>%, but you only have <%= @student['computed_final_score'].to_f %>% in this course right now.
      <div class='progress progress-danger progress-striped progress-big'><div class='tick' style='left: <%= (3 * settings['min_percent']).to_i.to_s %>px;'></div><div class='bar' style='width: <%= @student['computed_final_score'].to_i.to_s %>%;'></div></div>
    <% end %>
    <a class='btn btn-primary btn-large' href='/badges/all/<%= params['domain_id'] %>/<%= session['user_id'] %>'>See All Your Badges</a>
  <% end %>
<% else %>
  <h3>You are not a student in this course, so you can't earn this badge</h3>
<% end %>
<% if session["permission_for_#{params['course_id']}"] == 'edit' %>
  <%= erb :_student_list %>
  <%= edit_course_html(params['domain_id'], params['course_id'], params['user_id'], @user_config, @course_config) %>
<% end %>
