<h2><img src="<%= @org.settings['image'] || "/organizations/default.png" %>" alt=""/> <%= @org.settings['name'] %> Badges</h2>
<div class="row">
  <span class="span6">
    <p>
      <%= @org.settings['name'] %> let you award badges to students in courses based on their total
      grade in the course and their completion of course modules. You can also put
      a manual approval step on as well that requires your final sign-off before they
      receive the badge.
    </p>
    <p>
      Put it all together and you've got some lightweight course credentials!
      Badges can be added to a <a href="http://openbadges.org/">Mozilla Backpack</a>,
      or you can drop <a href="/canvas_profile_badges.js">this javascript file</a> in your
      global Canvas scripts to let users add them to their Canvas 
      profiles.
    </p>
    <ol id="instructions">
      <% if @org.settings['twitter_login'] %>
        <li>
          <a href="/login" class="btn btn-primary btn-large">login using the Twitters</a> to get a key and secret
        </li>
      <% else %>
        <li>
          Access to badges from this organization are managed internally.
          <a href="mailto:<%= @org.settings['email'] %>">Contact the organization</a> for help in getting a key and secret if you believe you should be able to generate badges on behalf of the organization.
        </li>
      <% end %>
      <li>
        <a href="/canvabadges.xml">Copy this XML link</a> and pick "By URL" as 
        the configuration type to add as a new external tool in Canvas
      </li>
      <li>
        If you're an admin, add <a href="/canvas_profile_badges.js">this javascript file</a>
        to your global Canvas JavaScript to make badges appear on user profiles.
      </li>
    </ol>
  </span>
  <span class="span6">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/N-utskPWtG0?rel=0" frameborder="0" allowfullscreen></iframe>
  </span>
</div>
  <hr/>
  <% if @public_badge_placements.length > 0 %>
    <h2>Some Badges in Public Canvas Courses</h2>
    <div class="row">
      <% @public_badge_placements[0,6].each do |placement| %>
        <% settings = placement.merged_settings %>
        <div class="span2 cool_badge" data-placement_id="<%= placement.id %>" data-config_id="<%= placement.badge_config_id %>">
          <% if settings['course_url'] %>
            <a href="<%= settings['course_url'] %>">
              <img src='<%= settings['badge_url'] %>' class='thumbnail'/>
            </a>
          <% else %>
            <img src='<%= settings['badge_url'] %>' class='thumbnail'/>
          <% end %>
          <h3>
          <% if settings['course_url'] %>
            <a href="<%= settings['course_url'] %>"><%= settings['badge_name'] || "Unnamed Badge" %></a>
          <% else %>
            <%= settings['badge_name'] || "Unnamed Badge" %></h2>
          <% end %>
          </h3>
        </div>
      <% end %>
    </div>
    <hr/>
  <% end %>
  <% if @org.default? %>
    <p>
      Lots of schools will probably want to host their 
      own badge issuing server, so the domain matches their school
      (i.e. badges.utah.edu instead of canvabadges.herokuapp.com).
      Good news! You can now do that with Canvabadges! Just
      <a href="<%= BadgeHelper.issuer['owner_url'] %>">contact
      the site's owner</a> about getting a custom domain configured.
      Or you can also run 
      <a href="https://github.com/whitmer/canvabadges">the code</a>
      yourself.
    </p>
  <% end %>
  <a href="http://openbadges.org/"><img src="/OpenBadges_Insignia_WeIssue.png" alt="We issue open badges"/></a>
