<h2><a href="/"><img src="<%= @org.settings['image'] || "/organizations/default.png" %>" alt=""/></a> Recently-Awarded Public Badges</h2>
<div class="row">
  <div class="span10 offset1" style="padding-top: 15px;">
    <% if @badges.length == 0 %><h3>Nothing to Show</h3><% end %>
    <% @badges.each do |badge| %>
      <% bc = badge.badge_config %>
      <% bpc = badge.badge_placement_config %>
      <% if bc %>
        <div class="badge_config">
          <% badge_url = "#{BadgeHelper.protocol}://" + bc.organization.host + 
                         "/badges/criteria/#{badge.badge_config_id}/#{badge.config_nonce}?user=#{badge.nonce}" 
          %>
          <a href="<%= badge_url %>">
            <img src='<%= badge.badge_url %>' style='float: left; margin-right: 10px;' class='thumbnail'/>
          </a>
          <h2><%= badge.user_full_name %>, 
          <% if bpc.settings['course_url'] %>
            <a href="<%= bpc.settings['course_url'] %>"><%= badge.name %></a></h2>
          <% else %>
            <%= badge.name %></h2>
          <% end %>
          <p class='desc'><%= badge.description %></p>

          <% if bpc.settings['hours'] %>
            <p>Approx hours: <%= bpc.settings['hours'] %></p>
          <% end %>
          <% org = bc.organization %>
          <% settings = (org && org.settings) || BadgeHelper.issuer %>
          <p class="extra">
            <img src='<%= settings['image'] %>'/>
            Issued 
            <%= badge.issued && badge.issued.strftime("%Y-%m-%d") %>
            by <a href="<%= settings['url'] %>">
            <%= settings['name'] %></a>. Hosted at 
            <%= (org && org.host) || request.host %>.
            <span style="clear: left;"></span>
          </p>

          <div style='clear: left;'></div>
        </div>
      <% end %>
    <% end %>  
  </div>
</div>
