<h2><a href="/"><img src="<%= @org.settings['image'] || "/organizations/default.png" %>" alt=""/></a> <%= @org.settings['name'] %> Badging Stats</h2>
<div class='row'>
  <div class='span8 offset2'>
    <table class='table table-bordered table-striped'>
      <tr>
        <td>Authorized Badge Issuers</td>
        <% if @org.default? && !params['this_org_only'] %>
          <td><%= ExternalConfig.count %></td>
        <% else %>
          <td><%= ExternalConfig.all(:organization_id => @org.id).count %></td>
        <% end %>
      </tr>
      <tr>
        <% if @org.default? && !params['this_org_only'] %>
          <td>Badges Configured <a class="sub" href="/badges/public">see earnable public badges</a></td>
          <td><%= BadgeConfig.count %></td>
        <% else %>
          <td>Badges Configured <a class="sub" href="/badges/public?this_org_only=1">see earnable public badges</a></td>
          <td><%= BadgeConfig.all(:organization_id => @org.id).count %></td>
        <% end %>
      </tr>
      <tr>
        <% if @org.default? && !params['this_org_only'] %>
          <td>Badges Awarded <a class="sub" href="/badges/public/awarded">see learner-shared badges</a></td>
          <td><%= Badge.count %></td>
        <% else %>
          <td>Badges Awarded <a class="sub" href="/badges/public/awarded?this_org_only=1">see learner-shared badges</a></td>
          <td><%= Badge.all(Badge.badge_config.organization_id => @org.id).count %></td>
        <% end %>
      </tr>
      <% if @org.default? && !params['this_org_only'] %>
        <tr>
          <td>Canvas Domains</td>
          <td><%= Domain.count %></td>
        </tr>
        <tr>
          <td>
            Organizations
            <ul style="padding-top: 10px;">
              <% Organization.all.each do |org| %>
                <li><a href="<%= org.settings['url'] %>"><%= org.settings['name'] %></a> <a class="sub" href="<%= BadgeHelper.protocol %>://<%= org.host %>">badge site</a></li>
              <% end %>
              <li style="margin-top: 15px; font-size: 12px; list-style: none;">
                <a href="<%= BadgeHelper.issuer['owner_url'] %>">Contact us</a> to add your own badging site
              </li>
            </ul>
            
          </td>
          <td><%= Organization.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
