<div class='row'>
  <div class='span8 offset2'>
    <table class='table table-bordered table-striped'>
      <tr>
        <td>Configs</td>
        <td><%= ExternalConfig.count %></td>
      </tr>
      <tr>
        <td>Domians</td>
        <td><%= Domain.count %></td>
      </tr>
      <tr>
        <td>Organizations</td>
        <td><%= Organization.count %></td>
      </tr>
      <tr>
        <td><a href="/badges/public">Badge Configurations</a></td>
        <td><%= BadgeConfig.count %></td>
      </tr>
      <tr>
        <td><a href="/badges/public/awarded">Badges Issued</a></td>
        <td><%= Badge.count %></td>
      </tr>
    </table>
  </div>
</div>
